*.pyc
*.pyo
__pycache__/
*.so
*.pyd
build/
dist/
*.egg
*.egg-info/
venv/
env/
.venv/
*.out
*.db
*.sqlite3
.idea/
.vscode/
.DS_Store
Thumbs.db
.coverage
htmlcov/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.env
